body{
    background: #000;
    color: azure;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button{
    width: 150px;
    height: 200px;
    
}

#white{
    background-color: aliceblue;
}

#blue{
    background: blue;
}

#gray{
    background: gray;
}

#yellow{
    background: yellow;
}